<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="author" content="Len Vande Veire, Raphael Romero, Mickael Zehren, Alex de Raadt">
	<title>DJ mix analyzer prototype for HAMR @ ISMIR 2020</title>
	<!-- Bootstrap core CSS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Latest compiled and minified JavaScript -->
	<!--Popper.js, jQuery, bootstrap js-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Essentia.js -->
	<script src="https://cdn.jsdelivr.net/npm/essentia.js@0.1.0/dist/essentia-wasm.web.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/essentia.js@0.1.0/dist/essentia.js-extractor.js"></script>
	<!--Waveform visualization-->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.16/mediaelement-and-player.min.js"></script> -->
	<script src="https://unpkg.com/wavesurfer.js"></script>
	<script src="../static/main.js"></script>
	<script src="../static/essentiaProxy.js"></script>
</head>
<body>
	<header></header>
	<main class="container">
		<section class="jumbotron text-center">
			<div class="container">
				<h1>DJ mix analyzer</h1>
				<p>DJ mix analyzer prototype for <a href="https://www.ismir2020.net/hamr/">HAMR @ ISMIR 2020</a>.</p>
			</div>
			<div class="container small text-muted mx-auto">
				<small>
					Upload a .wav or .mp3 mix.
					The file will be processed, which might take a few minutes.
					Then, the visualization of the mix will be shown below.
				</small>
				<small>
					Click on the visualizations to jump the audio playback to that point in the mix.
				</small>
				<small>
					Our code is on <a href="https://github.com/lenvdv/hamr-2020-dj-mix-analysis">GitHub</a>.
				</small>
			</div>
			<div class="container">
				<div class="center form-group">
					<div class="custom-file">
						<form method="POST" action="" enctype="multipart/form-data">
							<center>
								<input type="file" class="custom-file-input" id="inputGroupFile01" name="file" accept=".mp3,.wav">
							</center>
							<p><input type="submit" class="btn btn-primary" value="Submit"></p>
						</form>
					</div>
				</div>
			</div>
		</section>

		<section class="text-center">
			<div id="audio-obj">
				<audio id="audio-div" controls>
					<source id="audio-source" src="{{audio_url}}" type="audio/wav"/>
				</audio>
	        </div>

			<div class="controls">
	            <button class="btn btn-primary" data-action="play" id="audio-seek-backward">
	                <span class="glyphicon glyphicon-backward"></span>
	            </button>
	            <button class="btn btn-primary" data-action="play" id="audio-seek-forward">
	                <span class="glyphicon glyphicon-forward"></span>
	            </button>
	        </div>
        </section>

		<section>
			{% for vis in visualizations %}
				<div id="data-visualization">
					{{vis | safe}}
				</div>
			{% endfor %}
		</section>
	</main>
	<footer class="footer">
		<div class="container text-center">
			<p style="text-muted">Created by Len Vande Veire, Raphaël Romero, Mickaël Zehren and Alex de Raadt.</p>
			<p class="text-muted">Using icons from <a href="http://glyphicons.com/">http://glyphicons.com/</a></p>
		</div>
	</footer>
</body>
</html>